body {
  background-color: black;
  text-align: center;
}

#header {
  font-size: 50px;
  font-weight: normal;
  font-family: Verdana;
  color: white;
}

.coming-soon {
  font-size: 16px;
  color: Aquamarine;
}
