body {
  background-color: black;
  text-align: center;
}

#header {
  font-size: 50px;
  font-weight: normal;
  font-family: Verdana;
  color: white;
}

#travel-paragraph {
  font-size: 21px;
  font-family: Verdana;
  color: gray;
}

.subHeading {
  font-size: 42px;
  font-weight: 300;
  font-family: Verdana;
  color: white;
}

.coming-soon {
  font-size: 16px;
  color: Aquamarine;
}

footer p {
  color: gray;
  text-align: right;
  font-size: 21px;
}
